{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_event_new' %}

{% block main %}
    <h1>event creation</h1>

    {{ include('admin/blog/_form.html.twig') }}
{% endblock %}

{% block sidebar %}
    {{ parent() }}

    {{ show_source_code(_self) }}
{% endblock %}
